@import "../../styles/variables.scss";

.blockquoteWrapper {
  display: flex;
  margin: 2rem 0;
}
.highlighted {
  color: $highlight__text;
  padding-top: 1rem;
}
.blockquote {
  position: relative;
  color: $primary__text;
  padding: 2rem 0;
  width: 100%;
  z-index: 1;
  align-self: center;
  border-bottom: solid 0.5px;
}

.blockquote h3 {
  position: relative;
  color: $primary__text;
  line-height: 1;
  margin: 0;
}

.blockquote:after {
  position: absolute;
  content: "”";
  color: $highlight__text;
  font-size: 8rem;
  line-height: 0;
  bottom: -33px;
  right: 30px;
}

@media screen and (max-width: 48em) {
  .blockquoteWrapper {
    margin: 1.5rem 0;
  }
}
